/* .loader {
  background-color: 'red';
  border-radius: 50%;
  width: 60px;
  aspect-ratio: 1;
  border: 12px solid #80AF81;
  border-right-color: #1A5311;
  animation: rotate-loader 1s infinite linear;
}

@keyframes rotate-loader {
  to {
    transform: rotate(1turn);
  }
} */


#about-image{
  opacity:0.6 ;
}

.modal-content{
  width: 400px;
  max-width: 90%;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color:#ffffff;
  box-shadow: 0px 4px 8 px rgba(0,0,0,0.1);
  z-index: 20;
  position: relative;
}

/*.modal-background {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}*/

.text-home{
  font-size: 2rem;
  padding: 20px;
  text-align: center;
  text-shadow: 1px, 1px.2px black;
}

/*.home-background {
  width: 100vw;
  height: 100vw;
  background-size: cover;
  display:flex;

}*/

